.DS_Store
node_modules/
dist/
static/
.env
.cache/.vscode/
.deployment
.cache/
.vscode
serverless/ChatDemo/finished/functionapp/local.settings.json
serverless/ChatDemo/finished-auth/functionapp/local.settings.json
serverless/ChatDemo/finished-auth/functionapp/local.settings.json
serverless/ChatDemo/finished-auth/functionapp/local.settings.json
