<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Photo Tour</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.PhotoTour</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.microsoft.PhotoTour</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msal50ca036b-6a7f-4933-9a34-9161b5bdd3f3</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Take photos for the tour</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Pick videos for the tour</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record video for the tour</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pick photos for tour</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pick photos from gallery for the tour</string>
	<key>CFBundleName</key>
	<string>Photo Tour</string>
	<key>NSContactsUsageDescription</key>
	<string>Access your contacts</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Access the calendar</string>
	<key>NSSiriUsageDescription</key>
	<string>Access Siri</string>
	<key>CFBundleVersion</key>
	<string>19</string>
</dict>
</plist>
